<div class="container locations">
      <div class="row">
        <h1>Popular destinations</h1>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12 nairobi imagesPadding">
          <h2>Nairobi</h2>
      </div>
      <% @regions.each do |region|%>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 nakuru imagesPadding" style="background:  linear-gradient(
       rgba(0, 0, 0, 0.6),
       rgba(0, 0, 0, 0.6)
     ),url('<%= region.image.url %>') no-repeat center center; width: 50%; height:300px;">
        
            <h2><%= region.name%></h2>
        </div>
      <% end %>
  </div>
