<<<<<<< HEAD
<!-- header container -->
    <div class="jumbotron">
        <div class="container-fluid header-lg-text">
            <!-- header large text -->
            <div class="row">
                <h1>The Ultimate African Home Safari</h1>
            </div>

            <!-- header large text -->
            <!--  input gro<div class="col-md-2"></div>up-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2"></div>

                <div class="col-xs-12 col-sm-12 col-md-8">

                    <div class="input-group input-group-lg">

                        <input type="text" placeholder="Where do you go next?" class="form-control">

                        <span class="input-group-btn">

          <button type="button" name="button" class="btn btn-default btn-lg">Search</button>

        </span>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2"></div>

            </div>
            <!--  input group-->
        </div>

    </div>
    <!-- header container -->


    <!-- how to use section -->
    <div class="container-fluid how-to-use">
        <div class="row">
            <h2>Easy convinient booking</h2>

        </div>
        <div class="row icons">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="./images/search.png" alt="">
                <h3>Search</h3>
                <h5>Search for a location and see the homes available to you</h5>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="./images/book.png" alt="">
                <h3>Book</h3>
                <h5>With our one click booking system booking homes is easier</h5>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="./images/travel.png" alt="">
                <h3>Travel</h3>
                <h5>Don't worry about the boring stuff we got you just go forth</h5>
            </div>

        </div>

    </div>
    <!-- how to use section -->

    <!-- locations -->
    <div class="container locations">
        <div class="row">
          <h1>Popular destinations</h1>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 nairobi imagesPadding">
            <h2>Nairobi</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 nakuru imagesPadding">

            <h2>Nakuru</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 baringo imagesPadding">

            <h2>Baringo</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 kisumu imagesPadding">

            <h2>Kisumu</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 malindi imagesPadding">

            <h2>Malindi</h2>
        </div>

    </div>
    <!-- locations -->
=======
<%=render 'jumbotron'%>
<%=render 'how_to_use'%>
<%=render 'popular_regions'%>
>>>>>>> 206447ac93d9b7328bcde95844d7bc44c281cfd7
