<!-- header start -->
<div class="header container-fluid">

  <!-- header text -->
  <div class="row header-text">
    <p>Find Your next adventure</p>
  </div>
  <!-- header text end -->

  <!-- header form -->
  <div class="row header-form">
    <form >
      <div class="form-group">

        <input type="text" class="form-control search-input" placeholder="search location">

        <button type="submit" name="button">Search</button>
      </div>

    </form>
  </div>
  <!-- header form end -->

</div>
<!-- header end -->

<!-- how to use -->
<div class="container-fluid how-to-use">
  <div class="row ">
    <h2>How to use</h2>
  </div>
  <!-- easy to use icons -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <%= image_tag("searchGlobe.png")%>
      <h5>Set Your destination</h5>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <%= image_tag("search.png")%>
      <h5>Search for a home
      </h5>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <%= image_tag("go.png")%>
      <h5>Pack your bags and go</h5>
    </div>

  </div>
  <!-- easy to use icons -->

</div>
<!-- how to use  end-->

<!-- video embed section -->
<div class="row video-embed">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 video">
    <iframe src="https://www.youtube.com/embed/wJF5NXygL4k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h3>Life is a series of mini adventures so dont be afraid to take the first step</h3>
  </div>
</div>
