<!-- Start of the Footer -->
<footer class="site-footer ">
	<div class="container">
	<div class="row">
		<div class="col-md-5">
		<h4>Contact Address</h4>
			<address>
				#999, Gatonye The Man,<br>
				City of place,<br>
				Country.
			</address>
		</div>
		<div class="col-md-7">
			<!-- <div>
				<img src="images/world.png" width="100px" height="100px">
			</div> -->
			<div class="social-icons">
				<ul>
					<h5>Get in touch</h5>
					<li><a href="https://dev.facebook.com" target="_blank"><%= image_tag("social-icons/facebook.svg")%></a></li>
			        <li><a href="https://dev.twitter.com" target="_blank"><%= image_tag("social-icons/twitter.svg")%></a></li>
			        <li><a href="https://dev.linkedin.com" target="_blank"><%= image_tag("social-icons/linkedin.svg")%></a></li>
			        <li><a href="https://dev.instagram.com" target="_blank"><%= image_tag("social-icons/instagram.svg")%></a></li>
				</ul>

			</div>
		</div>
	</div>
	<div class="buttom-footer">
		<div class="col-md-5">@ Copyright Manyatta 2017.</div>
		<div class="col-md-7">
			<ul class="footer-nav">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="">About</a>
				</li>
				<li>
					<a href="#">Blog</a>
				</li>
				<li>
					<a href="#">Link</a>
				</li>

			</ul>
		</div>
	</div>

</div>

</footer>
<!-- End of the Footer-->
